modbus/new 3
[{"id":"d78dc491.c16958","type":"mqtt in","z":"306eacb5.34a6f4","name":"HMI","topic":"SYS/hmi/279bfc39-5b7a-00cb-d5ad-f8d162b4f661/get/bank1","qos":"0","broker":"b4d84a81.ee81b8","x":153.66665649414062,"y":928.333381652832,"wires":[["a00696b1.f8b028"]]},{"id":"a00696b1.f8b028","type":"json","z":"306eacb5.34a6f4","name":"MA BINH 1","x":387.6667022705078,"y":919.333381652832,"wires":[["b539d3a.9a4e43","e8d179ce.e2c5e8"]]},{"id":"b539d3a.9a4e43","type":"debug","z":"306eacb5.34a6f4","name":"","active":true,"console":"false","complete":"payload","x":544.6666259765625,"y":743.3333873748779,"wires":[]},{"id":"bda48a18.727218","type":"mqtt in","z":"306eacb5.34a6f4","name":"HMI","topic":"SYS/hmi/279bfc39-5b7a-00cb-d5ad-f8d162b4f661/get/bank2","qos":"0","broker":"b4d84a81.ee81b8","x":161.66665649414062,"y":1045,"wires":[["2d1c796c.773646"]]},{"id":"2d1c796c.773646","type":"json","z":"306eacb5.34a6f4","name":"MA BINH 1","x":380.6666564941406,"y":1046,"wires":[["769314d2.a4de9c"]]},{"id":"769314d2.a4de9c","type":"debug","z":"306eacb5.34a6f4","name":"","active":false,"console":"false","complete":"payload","x":585.6666259765625,"y":1039,"wires":[]},{"id":"e8d179ce.e2c5e8","type":"function","z":"306eacb5.34a6f4","name":"KT MA","func":"if(msg.payload==1){\n    msg.payload = 634;\n    return msg;\n}\nif(msg.payload==2){\n    msg.payload = 633;\n    return msg;\n}\nif(msg.payload==3){\n    msg.payload = 638;\n    return msg;\n}\nif(msg.payload==4){\n    msg.payload = 630;\n    return msg;\n}\nif(msg.payload==5){\n    msg.payload = 640;\n    return msg;\n}\nif(msg.payload==6){\n    msg.payload = 639;\n    return msg;\n}\nif(msg.payload==7){\n    msg.payload = 632;\n    return msg;\n}\nif(msg.payload==8){\n    msg.payload = 630;\n    return msg;\n}\nif(msg.payload==9){\n    msg.payload = 437;\n    return msg;\n}\nif(msg.payload==10){\n    msg.payload = 445;\n    return msg;\n}\nif(msg.payload==11){\n    msg.payload = 452;\n    return msg;\n}\nif(msg.payload==12){\n    msg.payload = 448;\n    return msg;\n}\nif(msg.payload==13){\n    msg.payload = 436;\n    return msg;\n}\nif(msg.payload==14){\n    msg.payload = 450;\n    return msg;\n}\nif(msg.payload==15){\n    msg.payload = 452;\n    return msg;\n}\nif(msg.payload==16){\n    msg.payload = 436;\n    return msg;\n}\nif(msg.payload==17){\n    msg.payload = 636;\n    return msg;\n}\nif(msg.payload==18){\n    msg.payload = 630;\n    return msg;\n}\nif(msg.payload==19){\n    msg.payload = 630;\n    return msg;\n}\nif(msg.payload==20){\n    msg.payload = 601;\n    return msg;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":651.5000305175781,"y":869.9999771118164,"wires":[["9c008f1e.a4497","2bb43919.5e6136","89e7044e.2bc8a8"]]},{"id":"9c008f1e.a4497","type":"mqtt out","z":"306eacb5.34a6f4","name":"publish sys","topic":"SYS/relayio/b3f4e3f6-6837-2456-6c15-6a4f16b0650b/set/smallbank","qos":"0","retain":"","broker":"b4d84a81.ee81b8","x":915.6666259765625,"y":867.3333129882812,"wires":[]},{"id":"2bb43919.5e6136","type":"mqtt out","z":"306eacb5.34a6f4","name":"publish sys","topic":"SYS/relayio/b3f4e3f6-6837-2456-6c15-6a4f16b0650b/set/largebank","qos":"0","retain":"","broker":"b4d84a81.ee81b8","x":915.6666259765625,"y":803.3333129882812,"wires":[]},{"id":"89e7044e.2bc8a8","type":"mqtt out","z":"306eacb5.34a6f4","name":"publish sys","topic":"SYS/relayio/b3f4e3f6-6837-2456-6c15-6a4f16b0650b/set/bankscale","qos":"0","retain":"","broker":"b4d84a81.ee81b8","x":916.6666793823242,"y":747.3333578109741,"wires":[]},{"id":"b4d84a81.ee81b8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"Lissen_Clientt","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]